// 颜色

$primary-theme-color: #28B389;

$border-color: #e0e0e0;
$border-color-light: #efefef;

$text-font-color-1: #000;
$text-font-color-2: #676767;
$text-font-color-3: #a7a7a7;
$text-font-color-4: #e4e4e4;

$bg-color-1: #f9f9f9;
$bg-color-2: rgba(250, 129, 90, 0.7);

$white-color: #fff;
$light-black: #00000020;
