view,swiper, swiper-item {
	box-sizing: border-box;
}
.pageBg {
	min-height: 80vh;
	background: 
	linear-gradient(to bottom, transparent, #fff 400rpx),
	linear-gradient(to right, #beecd8, #f4e2d8);
}
.primary-color {
	color: $primary-theme-color;
}